/* <760px */

@media (max-width: 760px) {
  .header__text {
    margin: 0 auto;
    width: 600px;
    height: 75px;
    line-height: 75px;
    font-size: 48px;
  }

  .footer__text {
    margin: 0 auto;
  }

  .footer__text a {
    width: 250px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
  }
}